	<footer id="colophon" class="site-footer">

			<div class="container">
	
				<div class="copyright"><%- themeConfig.footerInfo %><br>Theme:   <a href="https://github.com/alterfang/gridea-theme-pan" target="_blank" title="Pan"><span>Pan</span></a>. Powered by <a href="https://gridea.dev/" target="_blank" title="Gridea"><span>Gridea</span></a></div>		
			</div><!-- .container -->
		
		</footer><!-- #colophon -->