body {
    background-color: #333;
    color: #ffffff;
}
#content article {
    background: #333;
}
article .entry-title > a, .slide-content .entry-title > a {
    color: #ffff;
}
#content article .entry-summary {
    color: #ffff;
}
.nav-links {
    background: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.nav-links3 {
    background: #333;
}
.widget {
    background: #333 none repeat scroll 0 0;
}
.page-header .page-title {
    color: #ffff;
}
.page-header {
    background: #333 none repeat scroll 0 0;
}
#archives #archives-tags h3 {
    color: #ffff;
}
#archives #archives-tags a {
    color: #ffff;
}
#archives .archives a, #archives .archives h3 {
    color: #ffff;
}

.author-info {
    border-bottom: 1px solid #ffffff;
 
    border-top: 1px solid #ffffff;

}
.post-index {
    border: 1px solid rgba(0, 0, 0, 0.0001);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
 
}
.posttou {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    filter: brightness(0.30);
}

#content article .song img {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    filter: brightness(0.30);
}